# game data, mirrors, decompiles — all derived from copyrighted originals, never committed
/Resources/
/ghidra/*
!/ghidra/*.py
!/ghidra/*.java
/out/
.build/
.swiftpm/
*.xcodeproj
DerivedData/
.DS_Store
!/ghidra/*.sh
!/ghidra/README.md
